<div class="container" ng-controller="shoesCtrl">
    <div class="row col-md-12">
        <div>
           <form name="deals" style="display:block">
               <input class="text" type="text" style="display:block;" name="searched" ng-model="searched" placeholder="Search Your Favorite Store" ng-keypress="search()">
               <button ng-click="search()">Search</button>
           </form>
        </div>
    </div>
        <a ng-repeat="todo in todos | filter:searched" href={{todo.href}} style="display:block;">{{todo.text}} </a></div>
        </div>
            <!-- <div class="col-md-1 col-sm-1 col-xs-1">
                <input type="checkbox" ng-checked="todo.isCompleted" ng-click="updateStatus($event, todo._id, $index)">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <span ng-show="!isEditable[$index]">{{todo.todo}}</span>
                <input ng-show="isEditable[$index]" type="text" value="{{todo.todo}}" ng-keypress="edit($event,$index);">
                <input ng-show="isEditable[$index]" type="button" class="btn btn-warning" value="Cancel" ng-click="isEditable[$index] = false" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <input type="button" class="btn btn-info" ng-disabled="todo.isCompleted" class="pull-right" value="Edit" ng-click="isEditable[$index] = true" />
                <input type="button" class="btn btn-danger" class="pull-right" value="Delete" ng-click="delete($index)" />
            </div> -->

</div>