* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    font-family: calibri;
    
}
.strike span {
    text-decoration: line-through;
    color: #ccc;
}
.todos {
    padding: 20px;
}
.todo {
    padding: 10px;
    font-size: 21px;
    border-bottom: 1px solid;
}
.todo .btn {
    margin-left: 5px;
    width: 72px;
}
.todo:hover {
    background: #e7e7e7;
}
@media (max-width: 991px) {
    .todo .btn {
        margin-bottom: 10px;
    }
    .todo input[type=checkbox] {
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 991px) {
    .todo .btn-warning {
        margin-top: 10px;
        margin-left: 0px
    }
}

@media (max-width: 450px) {
    .todo .col-xs-8 {
        width: 85%;
    }
    .todo .col-xs-3 {
        width: 100%;
        text-align: center;
        border-top: 1px dashed #aaa;
        padding-top: 10px;
        margin-top: 10px;
    }
}

h1 {
    font-family: 'Quicksand',sans-serif;
    font-size: 32px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 20px;
    color: white;
}


input {
    width: 70% !important;
    height: 40px;
    margin: auto 10px;
    border: 1px solid #800033;
    opacity: 0.75;
}

input:focus {
    opacity: 1;
}

form {
  margin: auto;
  width: 100%;
}

.toplink {
    margin: auto !important;
    padding: 0 20px 0 20px;
    font-size: 30px;
    color: #343642;
}


nav {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
}

.btn-info {

  /*.button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);*/
  background-color: #343642;
  border-color: #800033;
}

body {
 background-image: url('../shopping.jpg');
 background-repeat: no-repeat; 
 background-size : 100% auto;
}

.agoraland {
    margin: 100px auto 0px auto;
    width: 70% !important;
    text-align: center;
}
.agora {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    color: #FF183C;
/*    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
*/}

.searchLinks {
    margin: auto;
    text-align: center;
    color: #343642;
}

.description {
    font-family: 'Quicksand',sans-serif;
    margin: 20px auto 0px auto;
    font-size: 20px;
    text-align: center;
    color: #343642;
}

.selectedLink {
    color: purple;
}

.searchDiv {
    margin: 10px auto 10px auto;
    background-color: white;
    width: 70%;
    opacity: 0.8;
}
a .searchDiv {
    opacity: 1;
    color: #343642;
}


